html {
    font-size: 10px
}

h1 {
    font-size: 1.5rem;
}

ul {
    font-size: 0.8rem;
}

li {
    font-size: 1.5rem;
}

.responsive {
     background-color: red;
     height: 10rem;
     width: 10rem;
}

@media (min-width: 1000px) {
    .responsive {
        display: blue;
    }

    html {
        font-size: 20px;
    }
}